
.show_cart  {
    
}

.hide_cart {
    display: none;
}

#shopping_cart_div {
    display: flex;
    background-color: darkblue;
    position: fixed;
    color: white;
    font-weight: bold;
    top: 5rem;
}

#shopping_cart_div a{
    color: yellow;
}

#cart_tab {
    display: flex;
    justify-content: space-evenly;
    padding: 1rem 0.5rem;
    background-color: blue;
    content: "";
    writing-mode: vertical-rl;
}
#cart_tab svg {
    margin-bottom: 1rem;
}
#cart_contents{
    padding:1rem;
}

ul {
    list-style: none;
}
