.catNavButtons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0.5rem 0;
    position: static;
    width: 100%;
    background-color: rgba(209, 209, 209, 0.37);
    bottom: 0;
}

#catalog_container {
    display: flex;
    flex-flow: wrap row;
    align-items: center;
    max-width: 100%;
    justify-content: space-around;
    border: 1px solid black;
}
