.Home {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.logo_style
{
    font-weight: bold;
    font-size: 5em;
    -webkit-text-fill-color: rgb(255, 217, 0);
    -webkit-text-stroke-color: darkblue;
    -webkit-text-stroke-width: 10px;
    paint-order: stroke fill;
}

