.Home {
    text-align: center;
}

.logo_style {
    font-weight: bold;
    font-size: 5em;
    -webkit-text-fill-color: rgb(255, 217, 0);
    -webkit-text-stroke-color: darkblue;
    -webkit-text-stroke-width: 1px;
    paint-order: stroke fill;
}

button {
    background-color: rgb(255, 255, 255);
    padding: 0.2rem 1rem;
    border-radius: 1rem;
    font-weight: bold;
    text-transform: lowercase;
    border: 1px solid black;
}

.Home h2 {
    font-weight: normal;
}

input {
    border: unset;
    max-width: 5rem;
    padding: 0.5rem;
    margin: 0 1rem;
}

.Home h6 {
    position: fixed;
    bottom: 0;
    font-size: 1rem;
}