#navbar {
  background-color: rgb(54, 0, 0);
  color: white;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-height: 4em;
}

#nav_title {
  color: rgb(255, 238, 0);
  font-weight: bold;
}

.current_nav {
  border-color: yellow;
}

.navlinks {
  display: flex;
  width: 70%;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

li {
  border: 1px solid white;
  padding: 0.2em 4em;
}

.navlinks a {
  margin: 0 0.2em;
  outline: none;
  color: White;
  font-size: 1.2rem;
}