nav {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 5%;
  background-color: darkred;
  z-index: 1;
}

.navlinks {
  display: flex;
  width: 70%;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.navlinks a {
  outline: none;
  padding: 0.5rem 2rem;
  color: White;
  font-weight: bold;
  font-size: 1.2rem;
}

a {
  text-decoration: none;
}
