#navbar{
  background-color: darkred;
  color: white;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 5%;
  border-bottom: 4px solid blue;
}

.navlinks {
  display: flex;
  width: 70%;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.navlinks a {
  outline: none;
  padding: 0.5rem 0.5rem;
  color: White;
  font-weight: bold;
  font-size: 1.2rem;
}

