.poke_preview_div {
    display: flex;
    width: fit-content;
    justify-content: center;
    padding: 0 2rem;
    background-color: rgba(210, 210, 255, 0.501);
    border-radius: 20%;
    margin: 1rem;
}