#pokemon_details_container {
    display: flex;
    flex-direction: column;
    position: absolute;
    padding: 1rem 3rem;
    background-color: white;
    border-radius: 2rem;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 70, 0.501) 4px 2px 8px 0;
}

.icon_c {
    width: 3rem;
    margin: 0 1em;
    text-transform: capitalize;
}

#type_icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

#pokemon_detailed_stats {
    text-align: start;
    background-color: rgba(210, 210, 255, 0.501);
    margin-bottom: 1rem;
}

#pokemon_detailed_stats td {
    padding: 0.2rem 2rem;
    border-bottom: 1px dotted rgb(78, 78, 78);
}

#pokemon_detailed_stats td::first-letter {
    text-transform: uppercase;
}

#pokemon_details_container button {
    margin: 0 1rem;
}

#pokemon_base_stats {
    background-color: rgba(210, 210, 255, 0.501);
    margin-bottom: 1rem;
}

#pokemon_base_stats td {
    border: 1px dotted gray;
    padding: 0.2rem 1rem;
}